@font-face {
  font-family: "Netflix";
  src: url(../src/fonts/Netflix\ Sans\ Light.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "NetflixBold";
  src: url(../src/fonts/Netflix\ Sans\ Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "NetflixMedium";
  src: url(../src/fonts/Netflix\ Sans\ Medium.otf) format("opentype");
  font-weight: medium;
}

body {
  background-color: black;
  color: white;
}

.text-light {
  color: white;
}

.badge-pill {
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  padding: 0.2vw;
}

.btn-netflix {
  padding: 0.5vw;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  width: 10vw;
  height: 2.3vw;
  font-weight: bolder;
}

.btn-netflix:hover {
  background-color: white;
  color: black;
}

.description {
  font-size: 15pt;
  line-height: 150%;
}

.watchNow {
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0.55px;
  line-height: 99%;
}

.carousel-indicators li {
  display: none;
}

.btn-group {
  top: -0.5vw;
}

.modal-content {
  background-color: #141414 !important;
}
